# Python Basics

## 1. Sets

##### Definition
- Removes duplicate and have unordered format of elements inside a curly-brace.
- It's heterogeneous data-type and it's mutable.
- Big-O-Notation - O(1) Order

##### 1A. Creation of Sets

In [6]:
# Creating a simple set
s1 = {1, 2, 3}

#List to set type-conversion
s2 = set([5,6,7])

#Heterogeneous nature
s3 = {1,2,3.456, 'vijay', 7.98, 7.99}
s3

#Unique elements
s4 = {1,2,5,7,9,10,10,6,6,5}      #-->< Output - {1,2,5,6,7,9,10} ><--#
s4

{1, 2, 5, 6, 7, 9, 10}

##### 1B. Addition and Updation of sets

In [9]:
s1 = {1,2,3}
s2 = {100,125,155}
#add function - only accept single element
s1.add(7)                     #--Output>< {1,2,3,7} ><--#

#Update function - a list or set can be updated
s1.update([9,10,11,7,3,2,1])  #--Output>< {1,2,3,7,9,10,11} ><--#

s1.update([99,90], s2)  #-->< {1, 2, 3, 7, 9, 10, 11, 90, 99, 100, 155, 125} ><--#
s1

{1, 2, 3, 7, 9, 10, 11, 90, 99, 100, 125, 155}

##### 1C. Removal and Discard

In [12]:
s1 = {1,2,3,4,5,6,7}

#Remove function
s1.remove(6)  #-->< Output - {1,2,3,4,5,7} ><--#
#s1.remove(6) #-->< KeyError - 6 is removed and not in set s1 ><--#

#Discard
s1.discard(5) #-->< Output - {1,2,3,4,7} ><--#
s1.discard(5) #-->< No Error upon second execution of the same element '5' ><--#
s1

{1, 2, 3, 4, 7}

##### 1D. Intersection
- Returns the common elements between two/more sets

In [ ]:
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {3,4,5}

#Intersection of two sets - Common element(s) out of two
s4 = s1.intersection(s2) #-->< Output - {2,3} ><--#

#----->Alternate for two sets<-----#
s1 & s2 #-->< Output - {2,3} ><--#


#Intersection of three sets - Common element(s) out of three
s1.intersection(s2, s3) #-->< Output - {3} ><--#

#----->Alternate for two sets<-----#
s1 & s2  & s3#-->< Output - {3} ><--#

{3}

##### 1E. Difference
- Finds the elements in present which is not in the next set.

In [ ]:
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {3,4,5}

#----->< Two Sets operation ><-----#
s1.difference(s3) #-->< Output - {1, 2} ><--#
#-->< Alternate >--#
s1 - s3


s3.difference(s1) #-->< Output - {4, 5} ><--#
#-->< Alternate >--#
s3 - s1


#----->< Three Sets operation ><-----#
s1.difference(s2, s3) #-->< Output - {1} ><--#
#-->< Alternate >--#
s1 - s2 - s3

s3.difference(s1, s2) #-->< Output - {5} ><--#
#-->< Alternate >--#
s3 - s2 - s1

{5}

##### 1F. Symmetric Difference
- Removes the common values in the sets and return the remaining values in the set.

In [ ]:
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {3,4,5}

#----->< Two Sets operation ><-----#
s1.symmetric_difference(s3) #-->< Output - {1, 2, 4, 5} ><--#
#-->< Alternate >--#
s1 ^ s3

s2.symmetric_difference(s3) #-->< Output - {2, 5} ><--#
#-->< Alternate >--#
s2 ^ s3

#More set operations for symmetric difference
s1 ^ s2 ^ s3 #-->< Output - {1, 3, 5} ><--#

{1, 3, 5}

##### 1G. Union
- Removes the duplicates and combines two/more sets

In [ ]:
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {3,4,5}

#----->< Two Sets operation ><-----#
s1.union(s2) #-->< Output - {1, 2, 3, 4} ><--#
#-->< Alternate >--#
s1 | s2

#----->< Three Sets operation ><-----#
s1.union(s2, s3) #-->< Output - {1, 2, 3, 4, 5} ><--#
#-->< Alternate >--#
s1 | s2 | s3

{1, 2, 3, 4, 5}